* {
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0; }

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto; }

.banner {
  height: 100vh;
  background-color: #31323d; }
  .banner .name {
    font-size: 4em;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5em;
    line-height: 2;
    font-weight: 700;
    margin: 0; }
  .banner .top_icons {
    font-size: 4em;
    text-align: center;
    margin-top: 1em; }
    .banner .top_icons a {
      padding: .5em;
      color: #FFFFFF; }
      .banner .top_icons a:hover {
        color: #4ad7b1; }

.projects {
  background-color: #3a3b49; }
  .projects .wrapper {
    width: 1440px; }
  .projects .project_container {
    display: flex;
    flex-wrap: wrap;
    line-height: 0;
    padding: 3em 0; }
    .projects .project_container .proj {
      flex: 1 1 50%;
      display: flex;
      border: 0.1px solid #3a3b49; }
      .projects .project_container .proj a {
        position: relative;
        display: flex;
        flex: 1 1 50%;
        overflow: hidden; }
        .projects .project_container .proj a .cover {
          position: absolute;
          background-color: #31323d;
          line-height: 1.5;
          height: 100%;
          width: 100%;
          transition: transform .6s ease-in-out;
          color: #FFFFFF; }
          .projects .project_container .proj a .cover .proj_title {
            font-size: 4em;
            padding: 1em;
            text-align: center; }
          .projects .project_container .proj a .cover .proj_more {
            text-align: center;
            font-size: .8em;
            margin-top: 9em; }
          .projects .project_container .proj a .cover #more3 {
            margin-top: 15em; }
        .projects .project_container .proj a img {
          flex: 1 1 50%;
          width: 638px; }
      .projects .project_container .proj a:hover .cover {
        transform: translateY(-700px); }
    .projects .project_container #proj3 {
      flex: 1 1 100%; }
      .projects .project_container #proj3 img {
        flex: 1 1 100%;
        width: 1280px; }

.contact {
  background-color: #31323d; }
  .contact .info {
    padding: 3em 0;
    text-align: center;
    color: #FFFFFF; }
    .contact .info h2 {
      font-size: 4em; }
    .contact .info .details {
      font-size: 4em;
      padding-top: .5em; }
      .contact .info .details a {
        color: #FFFFFF;
        padding: 0 .5em; }
        .contact .info .details a:hover {
          color: #4ad7b1; }

.modal {
  position: fixed;
  background: rgba(49, 50, 61, 0.9);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0; }
  .modal .modal_container {
    position: absolute;
    background: rgba(49, 50, 61, 0.9);
    border: 1px solid #FFFFFF;
    width: 800px;
    height: 700px;
    top: 50%;
    left: 50%;
    padding: 1em;
    color: #FFFFFF;
    transform: translate(-50%, -50%); }
    .modal .modal_container .modal_close {
      float: right;
      font-size: 1.5em;
      color: #FFFFFF; }
      .modal .modal_container .modal_close:hover {
        color: #4ad7b1; }
    .modal .modal_container .modal_title {
      margin-top: .5em;
      font-size: 1.5em;
      padding: .5em; }
    .modal .modal_container .modal_info {
      font-size: 1em;
      width: 45%;
      padding: .5em;
      line-height: 1.3; }
    .modal .modal_container .modal_skills {
      font-size: 1em;
      width: 50%;
      padding: .5em;
      color: #4ad7b1; }
    .modal .modal_container .modal_img {
      width: 300px;
      float: right;
      margin-right: 50px; }
    .modal .modal_container .modal_icons {
      font-size: 1.8em;
      padding: .5em;
      margin-left: 1.3em; }
      .modal .modal_container .modal_icons a {
        color: #4ad7b1; }
      .modal .modal_container .modal_icons i {
        padding: .5em; }

.proj1 {
  display: none; }

.proj2 {
  display: none; }

.proj3 {
  display: none; }

.proj4 {
  display: none; }

@media only screen and (max-width: 1439px) {
  .projects .project_container .proj a .cover #more3 {
    left: 43%; }
  .projects .project_container .proj a img {
    width: 100%; }
  .projects .project_container #proj3 img {
    width: 100%; } }

@media only screen and (max-width: 1200px) {
  .projects .project_container .proj a .cover .proj_title {
    font-size: 3em;
    padding-top: 3em; }
  .projects .project_container .proj a .cover .proj_more {
    margin-top: 8em; }
  .projects .project_container .proj a .cover #more3 {
    margin-top: 12em; }
  .projects .project_container .proj a img {
    width: 100%; }
  .projects .project_container #proj3 img {
    width: 100%; } }

@media only screen and (max-width: 992px) {
  .banner .name {
    font-size: 3em;
    color: #FFFFFF;
    text-align: center;
    padding-top: 6.5em; }
  .banner .top_icons {
    font-size: 3em;
    text-align: center;
    margin-top: 1.5em; }
  .projects .project_container .proj {
    flex: 1 1 100%;
    display: flex;
    margin-bottom: 1em; }
    .projects .project_container .proj a {
      flex: 1 1 100%; }
      .projects .project_container .proj a .cover .proj_title {
        font-size: 3em;
        padding-top: 3em; }
      .projects .project_container .proj a .cover .proj_more {
        margin-top: 14em; }
      .projects .project_container .proj a .cover #more3 {
        margin-top: 12em; }
  .contact {
    background-color: #31323d; }
    .contact .info h2 {
      font-size: 3em; }
    .contact .info .details {
      font-size: 3em;
      padding-top: .5em; } }

@media only screen and (max-width: 820px) {
  .modal .modal_container {
    width: 100%;
    height: 900px; }
    .modal .modal_container .modal_close {
      float: right;
      font-size: 1.2em; }
    .modal .modal_container .modal_title {
      margin-top: .5em;
      font-size: 1.5em;
      padding: .8em;
      text-align: center; }
    .modal .modal_container .modal_info {
      font-size: .9em;
      width: 100%;
      padding: .8em;
      text-align: center; }
    .modal .modal_container .modal_skills {
      font-size: .9em;
      width: 100%;
      padding: .6em;
      text-align: center; }
    .modal .modal_container .modal_img {
      width: 300px;
      float: none;
      display: block;
      margin: 1em auto; }
    .modal .modal_container .modal_icons {
      font-size: 1.4em;
      text-align: center; } }
