* {
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0; }

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto; }

.banner {
  height: 100vh;
  background-color: #31323d; }
  .banner .name {
    font-size: 4em;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5em;
    line-height: 2;
    font-weight: 700;
    margin: 0; }
  .banner .top_icons {
    font-size: 4em;
    text-align: center;
    margin-top: 1em; }
    .banner .top_icons a {
      padding: .5em;
      color: #FFFFFF; }
      .banner .top_icons a:hover {
        color: #4ad7b1; }

.projects {
  background-color: #3a3b49; }
  .projects .project_container {
    display: flex;
    flex-wrap: wrap;
    padding: 3em 0; }
    .projects .project_container .proj {
      padding: .5em;
      flex: 1 1 100%;
      display: flex; }
      .projects .project_container .proj img {
        width: 100%; }
      .projects .project_container .proj .proj_info {
        display: inline;
        color: #FFFFFF;
        line-height: 1.5; }
        .projects .project_container .proj .proj_info .h2_right {
          display: inline-block;
          margin-left: 5%;
          margin-top: 1em;
          margin-bottom: 1em; }
        .projects .project_container .proj .proj_info .p_right {
          display: inline-block;
          margin-left: 5%;
          margin-bottom: 1em; }
        .projects .project_container .proj .proj_info .skills_right {
          margin-left: 5%;
          margin-bottom: 1em; }

.contact {
  background-color: #31323d; }
  .contact .info {
    padding: 3em 0;
    text-align: center;
    color: #FFFFFF; }
    .contact .info h2 {
      font-size: 4em; }
    .contact .info .details {
      font-size: 4em;
      padding-top: .5em; }
      .contact .info .details a {
        color: #FFFFFF;
        padding: 0 .5em; }
        .contact .info .details a:hover {
          color: #4ad7b1; }

@media only screen and (max-width: 960px) {
  .projects .project_container {
    flex-wrap: no-wrap; }
    .projects .project_container .proj {
      flex: 1 1 50%; }
      .projects .project_container .proj img {
        width: 100%; } }
